@import url(reset.css);

/* layout */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.container {
    width: 1004px;
    margin: 0 auto;
}

/* Inicio header */

header {
    background-color: whitesmoke;
    padding: 15px;
}

header figure {
    float: left;
}

header nav {
    float: right;
}

header .container:after {
    content: "";
    height: 0px;
    clear: both;
    display: block;
}

header nav {
    margin-top: 10px;
}

header nav li {
    display: inline-block;
    margin-left: 10px;
}

header a {
    color: black;
    text-decoration: none;
}


/* Final header */

/* Inicio hero*/

.hero {
    background-color: #585858;
    background-image: url(../img/fondo.jpeg);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    position: relative;
}

.hero>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero h4 {
    margin: 30px 0 15px 0;
    font-size: 110%;
    text-shadow: 1px 1px 1px black;
}

.hero h1 {
    text-shadow: 1px 1px 1px black;
    font-size: 320%;
    font-weight: bold;

}

.hero>div>div button:first-child {
    background-color: gray;
    border: solid 1px black;
    padding: 7px 10px;
    border-radius: 5px;
}

.hero>div>div button:last-child {
    background-color: transparent;
    border: solid 1px lightblue;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
}

/* Final hero */

/* Inicio Section */

main {
    background-color: whitesmoke;

}

main section {
    width: 1004px;
    margin: -60px auto 0;
    background-color: white;
    padding: 15px;
    border-top: 4px solid gold;
    position: relative;
    /* display-flex para que se ponga en horizontal */
    display: flex;
    flex-wrap: wrap;
}

main section article {
    width: 33.333%;
}

img {
    /* las imagenes deben adaptarse al 100% del elemento que lo contiene, asi nunca sobrepasar su contenedor */
    width: 100%;
    /* para que no la deforme las imagenes */
    height: auto;
}


/* Final Section */